:root {
  --ck-focus-ring: none;
  --ck-inner-shadow: 0;
}

.ck.ck-toolbar {
  background-color: transparent;
  border: none;
}

.ck.ck-toolbar > .ck-toolbar__items {
  background: #fff;
  border: none;
  margin: 6px 8px 4px 8px;
  padding-left: 4px;
}

.ck.ck-editor__main > .ck-editor__editable {
  border: none;
  box-shadow: none;
}
